name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node
      - run: pnpm lint
      - name: check code is up to date
        run: git diff --exit-code

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: ./.github/actions/setup-node
      - run: pnpm test
      - name: check code is up to date
        run: git diff --exit-code

  test-e2e:
    name: E2E Test (${{ matrix.target }}, Node.js v${{ matrix.node-version }})
    strategy:
      matrix:
        node-version: ["lts/-1", "lts/*"]
        target: ["nexus", "pothos"]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: ./.github/actions/setup-node
        with:
          node-version: ${{ matrix.node-version }}
      - run: |
          pnpm test:e2e:gen
      - run: |
          pnpm turbo run --filter '@proto-graphql/e2e-${{ matrix.target }}-*' test:e2e
      - name: check code is up to date
        run: |
          git diff --exit-code
