name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - main

jobs:
  ci:
    strategy:
      matrix:
        include:
          - name: format-and-lint
            run: pnpm check
            node-version: "lts/*"
          - name: test
            run: pnpm gen:testapis && pnpm test
            node-version: "lts/*"
          - name: test
            run: pnpm gen:testapis && pnpm test
            node-version: "lts/-1"
      fail-fast: false
    name: ${{ matrix.name }} (${{ matrix.node-version }})
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: true
      - uses: ./.github/actions/setup-node
        with:
          node-version: ${{ matrix.node-version }}
      - name: ${{ matrix.name }}
        run: ${{ matrix.run }}
      - name: Check for uncommitted changes
        run: git diff --exit-code

  status-check:
    runs-on: ubuntu-latest
    needs:
      - ci
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
