name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - main

jobs:
  ci:
    strategy:
      matrix:
        include:
          - name: format-and-lint
            run: pnpm check
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: read
    name: ${{ matrix.name }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: true
      - uses: ./.github/actions/setup-node
        with:
          node-version: "lts/*"
      - name: ${{ matrix.name }}
        run: ${{ matrix.run }}
      - name: Check for uncommitted changes
        run: git diff --exit-code

  test:
    strategy:
      matrix:
        include:
          - node-version: "lts/*"
            os: ubuntu-latest
          - node-version: "lts/-1"
            os: ubuntu-latest
          - node-version: "lts/*"
            os: windows-latest
      fail-fast: false
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    name: test / Node.js ${{ matrix.node-version }} / ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: true
      - uses: ./.github/actions/setup-node
        with:
          node-version: ${{ matrix.node-version }}
      - name: name
        run: pnpm test
      - name: Check for uncommitted changes
        run: git diff --exit-code

  status-check:
    runs-on: ubuntu-latest
    needs:
      - ci
      - test
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
